APP_DEBUG = false[PROJECT]name = tp6-serverenv  = devhost = http://tp6-server[COOKIE]expire   = 0path     = /domain   =secure   = falsehttponly = true[DATABASE]TYPE     = mysqlHOSTNAME = 127.0.0.1DATABASE = testUSERNAME = rootPASSWORD = rootHOSTPORT = 3306CHARSET  = utf8DEBUG    = false[CACHE]driver = redishost   = 127.0.0.1port   = 6379prefix = test_; session使用前缀，用于共享sess   = sess_